.bandButton{
	background: transparent;
	border: transparent;
	
	width: 100%;
}

.band{
	margin-top: 1%;
	background-color: #B27DB0;
	height: 25px;
	
	width: 100%;
	
	border-collapse: collapse;
}
td{
	color: Black;
	height: 100%;
}

td:hover{
	background-color: #AF45AB;
	
	color:White;
	
	transition-duration: 0.4s;
}

/*when the cursor is out of the band cells*/
td:not(:hover){
	background-color: #B27DB0;
	transition-duration: 0.4s;
	
	color: Black;
}
